{% extends 'base.html.twig' %}

{% block title %}Modifier Ticket{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Modifier le ticket</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-warning mt-3">Mettre à jour</button>
    {{ form_end(form) }}
</div>
{% endblock %}

